:root{
    --primary-color: #f5f0e1;
    --secondary-color:#1E3D59;
    --tertiary-color:#dfa870;
    --special-color:#d0602d;
}

@font-face {
    font-family: "Rubik Dirt";
    src: url("../fonts/RubikDirt-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 400;
    src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 500;
    src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
    font-family: "Montserrat";
    font-weight: 600;
    src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
    font-family: "EBGaramond";
    src: url("../fonts/EBGaramond-Regular.ttf");
}

body{
    font-family: "EBGaramond", sans-serif;
    width:100%;
    margin:auto;
}

p, a, h1, h2, h3, li{
    color:var(--secondary-color)
}

main a, footer p, footer a{
    font-family: "Montserrat", sans-serif;
}

p, a{
    font-size: 1.3em;
    line-height: 1.5em;
}

h1{
    font-family:"Montserrat", sans-serif;
    font-weight: 400;
    font-size: 3.5em;
    text-transform: uppercase;
}

h2{
    font-family: "Rubik Dirt", sans-serif;
    color:var(--tertiary-color);
    font-weight: 400;
    font-size: 3.5em;
    text-transform: uppercase;
}

span{
    font-family: "Rubik Dirt", sans-serif;
    font-size: 3em;
    line-height: 1.2em;
    text-transform: uppercase;
}

h2 span{
    font-size: 2em;
}

/*********************
****** EDITO *********
*********************/

.presentation{
    display: flex;
    margin:100px 50px 100px 50px;
    justify-content: space-around;
}

.presentation .presentation-texte{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0px 6% 0px 6%;
}

.presentation .presentation-texte p{
    text-align: center;    
    width: 100%;
}

.presentation .presentation-img{
    width: 100%;
}

.presentation .presentation-img img{
    width: 100%;
}

.presentation .presentation-texte a{
   align-self: flex-end;
   margin-top: 60px;
   text-transform: uppercase;
   color: var(--tertiary-color);
}

/**********************
****** SERIES **********
**********************/

.decouvrir .vendredi{
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 30px;
    background-color: var(--primary-color);
}

.decouvrir img{
    object-fit:cover ;
    height: 100%;
    width: 100%;
}

div.description_droite, div.description_centrale{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

div.description_droite{
    margin: 30px 200px 30px 0px;
}

.vendredi a{
    color:var(--tertiary-color);
    text-transform: uppercase;
}


/**********************
****** FILMS **********
**********************/


.decouvrir .films{
    display: grid;
    gap:30px;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--tertiary-color);
}

.films h2{
    color:var(--primary-color)
}

div.description_centrale{
    max-width:600px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.films p{
    width: 70%;
}

.films a{
    color:var(--primary-color);
    text-transform: uppercase;
}